body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center
}
h1{
    color: orangered;
}
input [type="text"]{
    padding: 8px;
    font: size 16px;
}

button{
    padding: 8px;
    font-size: 16px;
    background-color: blue;
    color:aliceblue;
}
button:hover{
    background-color: white
}
